@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  main {
    @apply px-6 pb-16
  }
  a {
    @apply text-blue-700 hover:text-blue-900 dark:text-green-300 dark:hover:text-green-500
  }
}

@layer components {
  .page-section {
    @apply mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24
  }

  .page-section:last-of-type {
    @apply mb-0
  }

  .section-header {
    @apply font-bold uppercase tracking-widest mb-8 text-center
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
