.markdown_root {

  ol,
  ul {
    @apply pl-4 mt-2;

    p+& {
      @apply pl-8;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mb-3;
  }

  em {
    @apply mr-0.5;
  }

  h1 {
    @apply text-4xl font-extrabold text-center mb-5;
  }
}

.blogpost {
  @apply max-w-[70ch] lg:flex-1;

  max-width: 70ch;

  &>ol,
  & ul {
    @apply ml-2
  }

  &>p+p {
    @apply mt-3;
  }

  h2 {
    @apply text-3xl font-bold mt-8 mb-2 tracking-wide;
  }

  h3 {
    @apply text-xl font-medium mt-6 mb-0.5;
  }

  h4 {
    @apply text-base font-medium mt-4 tracking-tight;
  }

  h2,
  h3,
  h4 {
    scroll-margin-top: 100px;
  }

  blockquote {
    @apply pl-3 py-0.5 mt-4 mb-3 border-l-2 ml-2 text-neutral-800 dark:text-neutral-100 border-neutral-500 dark:border-neutral-300;

    p {
      @apply text-neutral-500 dark:text-neutral-400 text-xl tracking-wide first:mt-0;
    }
  }

  details {
    @apply pl-4 mt-3 mb-2;

    summary {
      @apply -ml-3.5 font-medium;
    }
  }
}

.callout {
  @apply border border-gray-600 p-[12px] my-5 rounded-md;
  color: red;
}

.toc-root {
  &>ul {
    @apply ml-4;
  }

  ul ul {
    @apply my-0;
  }

  li ul li {
    @apply text-sm my-1;
  }
}