.fade[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

li.entry p:first-child {
  @apply font-semibold;
}

li.entry p:only-child {
  @apply font-medium;
}

li.entry p:not(:first-child) {
  @apply text-sm;
}